<ion-header>
  <ion-toolbar>
    <ion-button slot="start"  routerLink="../../rapport">
      <ion-icon name="arrow-round-back"></ion-icon>
      </ion-button>
    <ion-title>travailler</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item >
    <ion-label class="client-item"> <h1>Client : </h1>  {{client}}</ion-label>
  </ion-item>
  <ion-item >
    <ion-label class="client-item"> <h1>Site : </h1>  {{site}}</ion-label>
  </ion-item>
  <ion-item >
    <ion-label class="client-item"> <h1>Probleme : </h1>  {{probleme}}</ion-label>
  </ion-item>
  <ion-item >
    <ion-label position="floating" >photo</ion-label>
    <ion-input [(ngModel)]="dateDebut"></ion-input>
  </ion-item> 
  <ion-item>
    <ion-label>date</ion-label>
    <ion-datetime displayFormat="YYYY-MM-DD" value="{{time}}"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label>start</ion-label>
    <ion-datetime displayFormat="HH-mm" [(ngModel)]="m" value="{{time}}"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label>end</ion-label>
    <ion-datetime displayFormat="HH-mm" [(ngModel)]="datefin" value="{{time}}"></ion-datetime>
  </ion-item>
  
  <ion-item >
    <ion-label position="floating" >traitement</ion-label>
    <ion-input [(ngModel)]="dateDebut"></ion-input>
  </ion-item> 
  <ion-item >
    Maintenance curative
    <ion-checkbox slot="end"> </ion-checkbox>
  </ion-item>
  <ion-item >
    maintenance préventive
    <ion-checkbox slot="end"> </ion-checkbox>
  </ion-item>
  <ion-item >
    Installation
    <ion-checkbox slot="end"> </ion-checkbox>
  </ion-item>
  <!-- <ion-item >
    <ion-label position="floating" >email</ion-label>
    <ion-input [(ngModel)]="email"  id="email"></ion-input>
  </ion-item> 
  <ion-item >
    <ion-label position="floating" >email</ion-label>
    <ion-input [(ngModel)]="email"  id="email"></ion-input>
  </ion-item>  -->
</ion-content>
