<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>histoire</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item *ngFor="let item of data" >
    <ion-label class="client-item">Client: {{item.client}} || Site :{{item.site}}</ion-label>
    <ion-button   routerLink="../rapport-detaille/{{item.id}}"   animation="Animation" color="primary">
      <ion-icon name="arrow-forward" class="clientlogo"></ion-icon>
    </ion-button>
    
  </ion-item>
</ion-content>
